<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.mall.dao.IProductDAO">
	<resultMap id="product_DB_Result" type="product">
		<result column="code" property="code" />
		<result column="category" property="category" />
		<result column="type" property="type" />
		<result column="name" property="name" />
		<result column="slogan" property="slogan" />
		
		<result column="adv_pic" property="advPic" />
		<result column="pic" property="pic" />
		<result column="description" property="description" />
		<result column="original_price" property="originalPrice" />
		<result column="price1" property="price1" />
		
		<result column="price2" property="price2" />
		<result column="price3" property="price3" />
		<result column="location" property="location" />
		<result column="order_no" property="orderNo" />
		<result column="status" property="status" />
		
	    <result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
		<result column="bought_count" property="boughtCount" />
		<result column="company_code" property="companyCode" />
		
		<result column="system_code" property="systemCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="category != null and category != '' ">
				AND t.category = #{category}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="name != null and name != '' ">
				AND t.name like "%"#{name}"%"
			</if>
			<choose>
				 <when test="status == '13'">
				  	AND (t.status = 1 or t.status = 3)
				 </when>
				 <when test="status != null and status != '' ">
				  	AND t.status = #{status}
				 </when>
				 <otherwise>
				  	AND 1 = 1
				 </otherwise>
			</choose>
			<if test="location != null and location != '' ">
				AND t.location like "%"#{location}"%"
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="systemCode != null and systemCode != '' ">
				AND t.system_code = #{systemCode}
			</if>
			
			<if test="updater != null and updater != '' ">
				AND t.updater = #{updater}
			</if>
			<if test="location != null and location != '' ">
				AND t.location = #{location}
			</if>
		</trim>
	</sql>
	<select id="select_product" parameterType="product" resultMap="product_DB_Result">
		SELECT
		t.code
		,t.category
		,t.type
		,t.name
		,t.slogan
		
		,t.adv_pic
		,t.pic
		,t.description
		,t.original_price
		,t.price1
		
		,t.price2
		,t.price3
		,t.location
		,t.order_no
		,t.status
		
		,t.updater
		,t.update_datetime
		,t.remark
		,t.bought_count
		,t.company_code
		
		,t.system_code
		<!-- ,tu.mobile -->
		FROM
		tmall_product t <!-- LEFT JOIN ${userDB}.tstd_user tu ON t.company_code = tu.user_id -->
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_buyNumber" parameterType="product" resultType="java.lang.Long">
		select count(*) as bought_count
		from tmall_product_order tpo inner join tmall_order torder on
		tpo.order_code = torder.code
		where product_code = #{code} and torder.status in ("2","3","4")
	</select>

	<select id="select_product_count" parameterType="product"
		resultType="java.lang.Long">
		SELECT count(1) FROM tmall_product t <!-- LEFT JOIN ${userDB}.tstd_user tu ON t.company_code = tu.user_id -->
		<include refid="where_condition" />
	</select>

	<insert id="insert_product" parameterType="product">
		INSERT INTO
		tmall_product(
		code
		,category
		,type
		,name
		,slogan
		,adv_pic
		,pic
		,description
		,price1
		,price2
		,price3
		
		,status
		,updater
		,update_datetime
		,remark
		,bought_count
		,company_code
		,system_code
		)
		VALUES(
		#{code}
		,#{category}
		,#{type}
		,#{name}
		,#{slogan}
		,#{advPic}
		,#{pic}
		,#{description}
		,#{price1}
		,#{price2}
		,#{price3}
		
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		,#{boughtCount}
		,#{companyCode}
		,#{systemCode}
		)
	</insert>
	
	<update id="update_product" parameterType="product">
		UPDATE tmall_product
		SET
		category = #{category}
		,type = #{type}
		,name = #{name}
		,slogan = #{slogan}
		,adv_pic = #{advPic}
		
		,pic = #{pic}
		,description = #{description}
		,price1 = #{price1}
		,price2 = #{price2}
		,price3 = #{price3}
		
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_productStatus" parameterType="product">
		UPDATE tmall_product
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_putOn" parameterType="product">
		UPDATE tmall_product
		SET
		original_price = #{originalPrice}
		,price1 = #{price1}
		,price2 = #{price2}
		,price3 = #{price3}
		,location = #{location}
		,order_no = #{orderNo}
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_product_quantity" parameterType="product">
		UPDATE tmall_product
		SET
		quantity = quantity - ${quantity}
		WHERE code = #{code}
	</update>
	
	<update id="update_boughtCount" parameterType="product">
		UPDATE tmall_product
		SET
		bought_count = bought_count + ${boughtCount}
		WHERE code = #{code}
	</update>

	<delete id="delete_product" parameterType="product">
		DELETE FROM
		tmall_product
		WHERE
		code = #{code}
	</delete>
</mapper>
