<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.mall.dao.IStoreDAO">
	<resultMap id="store_DB_Result" type="store">
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="level" property="level" />
		<result column="type" property="type" />
	    <result column="slogan" property="slogan" />
	    
		<result column="adv_pic" property="advPic" />
		<result column="pic" property="pic" />
		<result column="description" property="description" />
		<result column="province" property="province" />
		<result column="city" property="city" />
		
		<result column="area" property="area" />
		<result column="address" property="address" />
		<result column="longitude" property="longitude" />
		<result column="latitude" property="latitude" />
		<result column="book_mobile" property="bookMobile" />
		
		<result column="sms_mobile" property="smsMobile" />
		<result column="pdf" property="pdf" />
		<result column="ui_location" property="uiLocation" />
		<result column="ui_order" property="uiOrder" />
		<result column="legal_person_name" property="legalPersonName" />
		
		<result column="user_referee" property="userReferee" />
		<result column="rate1" property="rate1" />
		<result column="rate2" property="rate2" />
		<result column="rate3" property="rate3" />
		<result column="is_default" property="isDefault" />
		
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
		<result column="owner" property="owner" />
		
		<result column="contract_no" property="contractNo" />
		<result column="total_jf_num" property="totalJfNum" />
		<result column="total_dz_num" property="totalDzNum" />
		<result column="total_sc_num" property="totalScNum" />
		<result column="distance" property="distance" />
		
		<result column="company_code" property="companyCode" />
		<result column="system_code" property="systemCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="name != null and name != '' ">
				AND t.name like "%"#{name}"%"
			</if>
			<if test="level != null and level != '' ">
				AND t.level = #{level}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="province != null and province != '' ">
				AND t.province = #{province}
			</if>
			<if test="provinceForQuery != null and provinceForQuery != '' ">
				AND t.province like "%"#{provinceForQuery}"%"
			</if>
			<if test="city != null and city != '' ">
				AND t.city = #{city}
			</if>
			<if test="cityForQuery != null and cityForQuery != '' ">
				AND t.city like "%"#{cityForQuery}"%"
			</if>
			<if test="area != null and area != '' ">
				AND t.area = #{area}
			</if>
			<if test="areaForQuery != null and areaForQuery != '' ">
				AND t.area like "%"#{areaForQuery}"%"
			</if>
			<if test="uiLocation != null and uiLocation != '' ">
				AND t.ui_location = #{uiLocation}
			</if>
			<if test="legalPersonName != null and legalPersonName != '' ">
				AND t.legal_person_name = #{legalPersonName}
			</if>
			<if test="userReferee != null and userReferee != '' ">
				AND t.user_referee = #{userReferee}
			</if>
			<if test="isDefault != null and isDefault != '' ">
				AND t.is_default = #{isDefault}
			</if>
			<if test="status != null and status != '' ">
				<choose>
					<when test='status == "effect"'>
						AND t.status in(1,2,3)
					</when>
				    <otherwise>
						AND t.status = #{status}
					</otherwise>
				</choose>
			</if>
			<if test="owner != null and owner != '' ">
				AND t.owner = #{owner}
			</if>
			<if test="contractNo != null and contractNo != '' ">
				AND t.contract_no = #{contractNo}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="systemCode != null and systemCode != '' ">
				AND t.system_code = #{systemCode}
			</if>
			<!-- 前端查询距离专用start -->
			<if test="distance != null and distance != '' ">
				<![CDATA[ having distance <= #{distance}]]>
			</if>
			<!-- 前端查询距离专用end -->
		</trim>
	</sql>
	
	<select id="select_front_store" parameterType="store" resultMap="store_DB_Result">
		SELECT
		t.code
		,t.name
		,t.level
		,t.type
		,t.slogan
		
		,t.adv_pic	
		,t.pic
		,t.description
		,t.province
		,t.city
		
		,t.area
		,t.address
		,t.longitude
		,t.latitude
		,t.book_mobile
		
		,t.sms_mobile
		,t.pdf
		,t.ui_location
		,t.ui_order
		,t.legal_person_name
		
		,t.user_referee
		,t.rate1
		,t.rate2
		,t.rate3
		,t.is_default
		
		,t.status
		,t.updater
		,t.update_datetime
		,t.remark
		,t.owner
		
		,t.contract_no
		,t.total_rmb_num
		,t.total_jf_num
		,t.total_dz_num
		,t.total_sc_num
		,t.company_code
		,t.system_code
		,ROUND(6378.138*2*ASIN(SQRT(POW(SIN((#{latitude}*PI()/180-t.latitude*PI()/180)/2),2)+COS(#{latitude}*PI()/180)*COS(t.latitude*PI()/180)*POW(SIN((#{longitude}*PI()/180-t.longitude*PI()/180)/2),2)))*1000) as distance
		FROM
		to2o_store t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				distance asc,${order}
			</if>
		</trim>
	</select>
	
	<select id="select_front_store_count" parameterType="store"
		resultType="java.lang.Long">
		SELECT count(1) from (SELECT
		t.code
		,ROUND(6378.138*2*ASIN(SQRT(POW(SIN((#{latitude}*PI()/180-t.latitude*PI()/180)/2),2)+COS(#{latitude}*PI()/180)*COS(t.latitude*PI()/180)*POW(SIN((#{longitude}*PI()/180-t.longitude*PI()/180)/2),2)))*1000) as distance
		FROM
		to2o_store t
		<include refid="where_condition" />) as store
	</select>
	
	<select id="select_store" parameterType="store" resultMap="store_DB_Result">
		SELECT
		t.code
		,t.name
		,t.level
		,t.type
		,t.slogan
		
		,t.adv_pic	
		,t.pic
		,t.description
		,t.province
		,t.city
		
		,t.area
		,t.address
		,t.longitude
		,t.latitude
		,t.book_mobile
		
		,t.sms_mobile
		,t.pdf
		,t.ui_location
		,t.ui_order
		,t.legal_person_name
		
		,t.user_referee
		,t.rate1
		,t.rate2
		,t.rate3
		,t.is_default
		
		,t.status
		,t.updater
		,t.update_datetime
		,t.remark
		,t.owner
		
		,t.contract_no
		,t.total_rmb_num
		,t.total_jf_num
		,t.total_dz_num
		,t.total_sc_num
		,t.company_code
		,t.system_code
		FROM
		to2o_store t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				${order}
			</if>
		</trim>
	</select>
	
	<select id="select_store_count" parameterType="store"
		resultType="java.lang.Long">
		SELECT count(1) FROM to2o_store t
		<include refid="where_condition" />
	</select>
	
	<select id="select_oss_store" parameterType="store" resultMap="store_DB_Result">
		SELECT
		t.code
		,t.name
		,t.level
		,t.type
		,t.slogan
		
		,t.adv_pic	
		,t.pic
		,t.description
		,t.province
		,t.city
		
		,t.area
		,t.address
		,t.longitude
		,t.latitude
		,t.book_mobile
		
		,t.sms_mobile
		,t.pdf
		,t.ui_location
		,t.ui_order
		,t.legal_person_name
		
		,t.user_referee
		,t.rate1
		,t.rate2
		,t.rate3
		,t.is_default
		
		,t.status
		,t.updater
		,t.update_datetime
		,t.remark
		,t.owner
		
		,t.contract_no
		,t.total_rmb_num
		,t.total_jf_num
		,t.total_dz_num
		,t.total_sc_num
		,t.company_code
		,t.system_code
		FROM
		to2o_store t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				${order}
			</if>
		</trim>
	</select>
	
	<select id="select_oss_store_count" parameterType="store"
		resultType="java.lang.Long">
		SELECT count(1) FROM to2o_store t
		<include refid="where_condition" />
	</select>
	
	<insert id="insert_store_oss" parameterType="store">
		INSERT INTO
		to2o_store(
		code
		,name
		,level
		,type
		,slogan
		
		,adv_pic	
		,pic
		,description
		,province
		,city
		
		,area
		,address
		,longitude
		,latitude
		,book_mobile
		
		,sms_mobile
		,pdf
		,legal_person_name
		
		,user_referee
		,rate1
		,rate2
		
		,status
		,updater
		,update_datetime
		,remark
		,owner
		
		,contract_no
		,total_rmb_num
		,total_jf_num
		,total_dz_num
		,total_sc_num
		
		,company_code
		,system_code
		)
		VALUES(
		#{code}
		,#{name}
		,#{level}
		,#{type}
		,#{slogan}
		
		,#{advPic}
		,#{pic}
		,#{description}
		,#{province}
		,#{city}
		
		,#{area}
		,#{address}
		,#{longitude}
		,#{latitude}
		,#{bookMobile}
		
		,#{smsMobile}
		,#{pdf}
		,#{legalPersonName}
		,#{userReferee}
		,#{rate1}
		,#{rate2}
	
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		,#{owner}
		
		,#{contractNo}
		,#{totalRmbNum}
		,#{totalJfNum}
		,#{totalDzNum}
		,#{totalScNum}
		
		,#{companyCode}
		,#{systemCode}
		)
	</insert>
	
	<insert id="insert_store_front" parameterType="store">
		INSERT INTO
		to2o_store(
		code
		,name
		,level
		,type
		,slogan
		
		,adv_pic	
		,pic
		,description
		,province
		,city
		
		,area
		,address
		,longitude
		,latitude
		,book_mobile
		
		,sms_mobile
		,pdf
		,legal_person_name
		
		,user_referee
		,rate1
		,rate2
		
		,status
		,updater
		,update_datetime
		,remark
		,owner
		
		,total_rmb_num
		,total_jf_num
		,total_dz_num
		,total_sc_num
		
		,company_code
		,system_code
		)
		VALUES(
		#{code}
		,#{name}
		,#{level}
		,#{type}
		,#{slogan}
		
		,#{advPic}
		,#{pic}
		,#{description}
		,#{province}
		,#{city}
		
		,#{area}
		,#{address}
		,#{longitude}
		,#{latitude}
		,#{bookMobile}
		
		,#{smsMobile}
		,#{pdf}
		,#{legalPersonName}
		,#{userReferee}
		,#{rate1}
		,#{rate2}
	
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		,#{owner}
		
		,#{totalRmbNum}
		,#{totalJfNum}
		,#{totalDzNum}
		,#{totalScNum}
		
		,#{companyCode}
		,#{systemCode}
		)
	</insert>
	
	<update id="update_store_oss" parameterType="store">
		UPDATE to2o_store
		SET
		name = #{name}
		,level = #{level}
		,type = #{type}
		,slogan = #{slogan}
		
		,adv_pic = #{advPic}
		,pic = #{pic}
		,description = #{description}
		,province = #{province}
		,city = #{city}
		
		,area = #{area}
		,address = #{address}
		,longitude = #{longitude}
		,latitude = #{latitude}
		,book_mobile = #{bookMobile}
		
		,sms_mobile = #{smsMobile}
		,pdf = #{pdf}
		,legal_person_name = #{legalPersonName}
		
		,user_referee = #{userReferee}
		,rate1 = #{rate1}
		,rate2 = #{rate2}
		
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_store_front" parameterType="store">
		UPDATE to2o_store
		SET
		name = #{name}
		,type = #{type}
		,slogan = #{slogan}
		
		,adv_pic = #{advPic}
		,pic = #{pic}
		,description = #{description}
		,province = #{province}
		,city = #{city}
		
		,area = #{area}
		,address = #{address}
		,longitude = #{longitude}
		,latitude = #{latitude}
		,book_mobile = #{bookMobile}
		
		,sms_mobile = #{smsMobile}
		,pdf = #{pdf}
		,legal_person_name = #{legalPersonName}
		
		,rate1 = #{rate1}
		,rate2 = #{rate2}
		
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
    <update id="update_check" parameterType="store">
		UPDATE to2o_store
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,contract_no = #{contractNo}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_putOn" parameterType="store">
		UPDATE to2o_store
		SET
		status = #{status}
		,ui_location = #{uiLocation}
		,ui_order = #{uiOrder}
		,rate1 = #{rate1}
		,rate2 = #{rate2}
		
		,rate3 = #{rate3}
		,is_default = #{isDefault}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_putOff" parameterType="store">
		UPDATE to2o_store
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_openClose" parameterType="store">
		UPDATE to2o_store
		SET
		status = #{status}
		WHERE code = #{code}
	</update>
	
	<update id="update_level" parameterType="store">
		UPDATE to2o_store
		SET
		level = #{level}
		WHERE code = #{code}
	</update>
	
	<update id="update_totalRmbNum" parameterType="store">
		UPDATE to2o_store
		SET
		total_rmb_num = #{totalRmbNum}
		WHERE code = #{code}
	</update>
	
	<update id="update_totalJfNum" parameterType="store">
		UPDATE to2o_store
		SET
		total_jf_num = #{totalJfNum}
		WHERE code = #{code}
	</update>
	
	<update id="update_totalDzNum" parameterType="store">
		UPDATE to2o_store
		SET
		total_dz_num = #{totalDzNum}
		WHERE code = #{code}
	</update>
	
	<update id="update_totalScNum" parameterType="store">
		UPDATE to2o_store
		SET
		total_sc_num = #{totalScNum}
		WHERE code = #{code}
	</update>
</mapper>